{% extends 'base.html' %}

{% block content %}
<div class="index">
        <h1 class="index">Greenhills Gadget Seller Website Extension</h1>
        <p class="index">Click on the brand name on the banner to browse through the smartphones up for sale!</p>
        <ul class="index">
            <li style="--accent-color:#4CAF50">
            <div class="icon"><i class="fa-sharp fa-solid fa-bags-shopping"></i></div>
            <div class="title-index">GREENHILLS</div>
            </li>
            <li style="--accent-color:#1286A8">
            <div class="icon"><i class="fa-brands fa-apple"></i></div>
            <a class="title" href="devices/Apple">APPLE</a>
            <div class="descr">Get a smartphone that is best in camera and battery quality!</div>
            </li>
            <li style="--accent-color:#D2B53B">
            <div class="icon"><i class="fa-brands fa-android"></i></div>
            <a class="title" href="devices/Samsung">SAMSUNG</a>
            <div class="descr">Get a smartphone that can zoom in on the moon!</div>
            </li>
            <li style="--accent-color:#DA611E">
            <div class="icon"><i class="fa-brands fa-android"></i></div>
            <a class="title" href="devices/Xiaomi">XIAOMI</a>
            <div class="descr">Get a smartphone at a low price but high quality!</div>
            </li>
            <li style="--accent-color:#4CAF50">
            <div class="icon"><i class="fa-sharp fa-solid fa-bags-shopping"></i></div>
            <div class="title-index">GREENHILLS</div>
            </li>
            </ul>
</div>
{% endblock %}